/* importing raleway and open sans fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Raleway:wght@500;600;700&display=swap');
:root{
  --main-bg-color:black;
  ---secondary-txt-color:white;
  --navlink-hover-color:#FF6C00;
  --paragraph-color:rgb(157, 164, 189, 0.6);
  --desc-paragraph-color:#9DA4BD;
  --about-text:#303030;
  --overview-txt:#555555;

}

*,
*::before,
::after{
  box-sizing: border-box;
}
.container{
width: 1125px;
height: 680px;
flex-shrink: 0;
}
.header-container{
  display: flex;
}

img{
  display:block;
  max-width: 100%;
  height:auto;

}
 body{
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: .02em;
  background-color:white;
 }

 h1,h2{
  font-family: "Raleway";
 }

 p{
  font-family:"Open Sans";

 }

/* navigation section */

  .nav-link{
  color: #FFFFFF;
}
.nav-link:hover,
.navlink:focus{
  color:var( --navlink-hover-color);
}
.button-nav{
  position: absolute;
  width:160px;
  height:40px;
  left: 1065px;
  top:40px;
  box-sizing: border-box;
  border:1px solid #FF6C00;
  border-radius: 25px;
}

button:active{
background-color:var(--navlink-hover-color);
}
  
button:hover{
cursor:pointer
}


/* main tittle section*/

.header-navbar-navlink.active{
color: #FF6C00;
font-size: 12px;
font-family: Open Sans;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 1.2px;
position: absolute;
}
.list .nav-bar{
  position: absolute;
}

.main-tittle-section{
  background: rgba(25, 28, 38, 0.2);
  transform: matrix(-1, 0, 0, 0);
  background-image: url(/images/barber.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.subheading{
  font-family: "Open Sans";
  font-size:normal;
  font-weight:600;
  font-size:11px;
  line-height:15px;
  letter-spacing:0.1em;
  text-transform: uppercase;
  color:var(--paragraph-color);
  position:absolute;
  width:199px;
  height:15px;
  left:335px;
  top:272px;
}


.back{
  position:absolute;
  width:29px;
  height:15px;
  left:1079px;
  top:616px;
  color:rgb(157, 164, 189, 0.6);
}
.next{
  position:absolute;
  width:29px;
  height:15px;
  left:1196px;
  top:616px;
  text-align:right;
  color:#FFFFFF;
}

/* about us section*/
.link{
  text-decoration: none;
  color:inherit
}
.list{
  list-style: none;
}

.list-images{
  display: flex;
}






/* services and prices section*/





/*why do people come to us section*/




/*our babers sections*/




.list{
  display: flex;
}

.section-address .underline{
  text-decoration: underline;

}

.section{
width: 1280px;
margin: 0 auto;

}

.section{
  padding-top: 130px;
  border: 1px solid black;
}

.text-margin{
  margin-top:20px;
}