/* importing raleway and open sans fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Raleway:wght@500;600;700&display=swap');
:root{
  --main-bg-color:black;
  ---secondary-txt-color:white;
  --navlink-hover-color:#FF6C00;
  --paragraph-color:rgb(157, 164, 189, 0.6);
  --desc-paragraph-color:#9DA4BD;
  --about-text:#303030;
  --overview-txt:#555555;

}

*,
*::before,
::after{
  box-sizing: border-box;
}
.container{
width: 1125px;
height: 680px;
flex-shrink: 0;
}
.header-container{
  display: flex;
}

 body{
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: .02em;
  background-color:white;
 }

 h1,h2{
  font-family: "Raleway";
 }

 p{
  font-family:"Open Sans";

 }

/* navigation section */

  .nav-link{
  color: #FFFFFF;
}
.nav-link:hover,
.navlink:focus{
  color:var( --navlink-hover-color);
}
.button-nav{
  position: absolute;
  width:160px;
  height:40px;
  left: 1065px;
  top:40px;
  box-sizing: border-box;
  border:1px solid #FF6C00;
  border-radius: 25px;
}

button:active{
background-color:var(--navlink-hover-color);
}
  
button:hover{
cursor:pointer
}


/* main tittle section*/


.main-tittle-section{
  background: rgba(25, 28, 38, 0.2);
  transform: matrix(-1, 0, 0, 0);
  background-image: url(/images/barber.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.main-title{
  color:var(---secondary-txt-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size:72px;
  line-height:85px;
  letter-spacing:0.05em;
  position:absolute;
  width:500px;
  height:85px;
  left:255px;
  top:307px;
}
.brief-description{
  font-family: "Open Sans";
  font-size:normal;
  font-weight:600;
  font-size:11px;
  line-height:15px;
  letter-spacing:0.1em;
  text-transform: uppercase;
  color:var(--paragraph-color);
  position:absolute;
  width:199px;
  height:15px;
  left:335px;
  top:272px;
}

.overview-description{
  font-family: "Open Sans";
  font-style:normal;
  font-weight:400;
  font-size:18px;
  line-height:30px;
  letter-spacing:0.02em;
  color:var(--desc-paragraph-color);
  position:absolute;
  width:486px;
  height:62px;
  left:255px;
  top:412px;
}

.back-arrow{
  position:absolute;
  width:29px;
  height:15px;
  left:1079px;
  top:616px;
  color:rgb(157, 164, 189, 0.6);
}
.next-arrow{
  position:absolute;
  width:29px;
  height:15px;
  left:1196px;
  top:616px;
  text-align:right;
  color:#FFFFFF;
}

/* about us section*/
.link{
  text-decoration: none;
  color:inherit
}
.list{
  list-style: none;
}

.list-images{
  display: flex;
}

.descriptive-tittle{
  position:absolute;
  width:500px;
  height:98px;
  left:689px;
  top:845px;
  font-family:"Raleway";
  font-style:normal;
  font-weight:42px;
  line-height:49px;
  letter-spacing:0.05em;
  color:var(--about-text);
}
.overview-title{
  position:absolute;
  width:500px;
  height:60px;
  left:689px;
  top:963px;
  font-family:"open sans";
  font-style:normal;
  font-weight:400;
  font-size:18px;
  line-height:30px;
  letter-spacing:0.02em;
  color:var(--overview-txt);
}

.overview-paragraph{
position: absolute;
width: 536px;
height:104px;
left:689px;
top:1043px;
font-family:"Open Sans";
font-style:normal;
font-weight:400;
font-size:14px;
line-height:26px;
letter-spacing:0.02em;
color:#555555;
}

.button-service{
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  height:40px;
  left:689px;
  top:1187px;
  border: 1px solid #FF6C00;
  border-radius:25px;
}

/* services and prices section*/
.spend-title{
color: rgba(157, 164, 189, 0.60);
font-size: 11px;
font-family: Open Sans;
font-weight: 600;
letter-spacing: 1.1px;
text-transform: uppercase;
}
.services-prices{
display: flex;
width: 500px;
flex-direction: column;
flex-shrink: 0;
color:black;
font-size: 42px;
font-family: Raleway;
font-weight: 700;
letter-spacing: 2.1px;
}

.book-serv{
display: flex;
color: #FFF;
text-align: center;
font-size: 12px;
font-family: Open Sans;
font-weight: 600;
letter-spacing: 1.08px;
text-transform: uppercase;
width: 160px;
height: 40px;
flex-shrink: 0;
border-radius: 25px;
border: 1px solid #FF6C00;
}

.column-text{
  color: #9DA4BD;
  font-size: 18px;
  font-family: Open Sans;
  line-height: 30px;
  letter-spacing: 0.36px;
}


/*why do people come to us section*/

.old-school-text{
  position: absolute;
  color:#303030;
  font-size: 11px;
  font-family: "Open Sans";
  font-weight: 600;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  }

.title-why-do{
position: absolute;
width: 420px;
height:98px;
top:2268px;
left:655px;
flex-direction:column;
flex-shrink: 0;
color: #303030;
font-size: 42px;
font-family: "Raleway";
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: 0.05em;
}
.only-good-paragraph{
  position: absolute;
  width: 470px;
  height: 90px;
  left: 655px;
  top:2368px;
 font-family:"open sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color:#555555;
}


/*our babers sections*/

.for-true{
position: absolute;
width: 298px;
height:15px;
left:135px;
top:2815px;
color: #303030;
font-size: 11px;
font-family: "Open Sans";
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.1em;
text-transform: uppercase;
}

.Our-babers-title{
display: flex;
width: 500px;
flex-direction: column;
flex-shrink: 0;
color: #303030;
font-size: 42px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing:0.05em;
position: absolute;
width: 500px;
height:49px;
left: 55px;
top:2850px;
}

.list{
  display: flex;
}

